<div class="new">
  <div class="new-font">New</div>
  <%= form_for(@note) do |f| %>
    <% if @note.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h2><%= @note.errors.count %>件のエラー:</h2>

        <ul>
          <% @note.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="font">title</div>
    <%= f.text_field :title, { class: "form-control title-field" } %>
    <div class="font">content</div>
    <%= f.text_area :content, { class: "form-control content-field" } %>
    <div class="font">image</div>
    <%= f.file_field :image %> 
    <%= f.submit "save", { class: "btn primary-btn btn-success" } %>
  <% end %>
</div>